{% extends 'base.html.twig' %}
{% block title %}Ajouter une prestation{% endblock %}
{% block body %}

<body>
<h1>Ajouter une prestation</h1>
    <span class="formulaireAddPrestation">
        {{ form_start(formPrestation) }}
            <div class="m-3">
            {{ form_row(formPrestation.title,{
                label: 'Titre :',
                'attr':{'class': 'addPrestationField form-control'}
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formPrestation.imgPrestations.vars.prototype.img,{
                label: 'Image :',
                'attr':{
                    'class': 'addImageField form-control',
                    'name': 'prestation[imgPrestations][0][img]'
                    }
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formPrestation.imgPrestations.vars.prototype.description,{
                label: 'Description :',
                'attr':{
                    'class': 'addDescriptionField form-control',
                    'name': 'prestation[imgPrestations][0][description]'
                }
            }) }}
            </div>

        {#  <div class="m-3">
            {{ form_row(formPrestation.imgPrestations.vars.prototype.img,{
                label: 'Image :',
                'attr':{'class': 'addImageField form-control'}
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formPrestation.imgPrestations.vars.prototype.description,{
                label: 'Description :',
                'attr':{'class': 'addDescriptionField form-control'}
            }) }}
            </div> #}

        {{ form_end(formPrestation) }}
    </span>
</body>
{% endblock %}