{% extends 'base.html.twig' %}

{% block title %}Ajouter une prestation{% endblock %}

{% block body %}
<body>
    <h1>Ajouter une prestation</h1>
    <span class="formulaireAddPrestation">
        {{ form_start(formPrestation) }}
            <div class="m-3">
                {{ form_row(formPrestation.title, {
                    label: 'Titre :',
                    'attr': { 'class': 'addPrestationField form-control' }
                }) }}
            </div>

            <div
                id="email-fields-list"
                data-prototype="{{ form_row(formPrestation.imgPrestations.vars.prototype)|escape }}"
                data-index="{{ formPrestation.imgPrestations|length }}"
            >
                {% for imgPrestationField in formPrestation.imgPrestations %}
                    <div class="m-3">
                        {{ form_row(imgPrestationField.img, {
                            label: 'Image :',
                            'attr': {
                                'class': 'addImageField form-control',
                            }
                        }) }}
                    </div>
                    <div class="m-3">
                        {{ form_row(imgPrestationField.description, {
                            label: 'Description :',
                            'attr': {
                                'class': 'addDescriptionField form-control',
                            }
                        }) }}
                    </div>
                {% endfor %}
            </div>

            <button
                type="button"
                class="add-another-collection-widget"
                data-list-selector="#email-fields-list"
            >
                Add another email
            </button>
        {{ form_end(formPrestation) }}
    </span>
</body>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add-another-collection-widget').click(function (e) {
                e.preventDefault();

                var list = $($(this).attr('data-list-selector'));

                // Get the data-prototype explained earlier
                var prototype = list.data('prototype');
                // get the new index
                var index = list.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                list.data('index', index + 1);
                // Display the form in the page before the "new" link
                $(this).before(newForm);
            });
        });
    </script>
{% endblock %}
