{% extends 'base.html.twig' %}

{% block title %}Ajouter une prestation{% endblock %}

{% block body %}
<body>
    <h1>Ajouter une prestation</h1>
    <span class="formulaireAddPrestation">
        {{ form_start(formPrestation) }}
            <div class="m-3">
                {{ form_row(formPrestation.title, {
                    label: 'Titre :',
                    'attr': { 'class': 'addPrestationField form-control' }
                }) }}
            </div>

            <div
                id="email-fields-list"
                data-prototype="{{ form_widget(formPrestation.imgPrestations.vars.prototype)|escape }}"
                data-index="{{ formPrestation.imgPrestations|length }}"
            >
                {% for imgPrestationField in formPrestation.imgPrestations %}
                    <div class="m-3">
                        {{ form_row(imgPrestationField.img, {
                            label: 'Image :',
                            'attr': {
                                'class': 'addImageField form-control',
                            }
                        }) }}
                    </div>
                    <div class="m-3">
                        {{ form_row(imgPrestationField.description, {
                            label: 'Description :',
                            'attr': {
                                'class': 'addDescriptionField form-control',
                            }
                        }) }}
                    </div>
                {% endfor %}
            </div>

            <button
                type="button"
                class="add-another-collection-widget"
                data-list-selector="#email-fields-list"
            >
                Add another email
            </button>
        {{ form_end(formPrestation) }}
    </span>
</body>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add-another-collection-widget').click(function (e) {
                var list = $($(this).attr('data-list-selector'));
                // Try to find the counter of the list or use the length of the list
                var counter = list.data('widget-counter') || list.children().length;

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data('widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = $(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>
{% endblock %}
