{% extends 'base.html.twig' %}

{% block title %}Ajouter une prestation{% endblock %}

{% block body %}
<body>
    <main>
        <h1>Ajouter une prestation</h1>

        <span class="formulaireAddPrestation">
            {{ form_start(formPrestation) }}
                <div class="m-3">
                    {{ form_row(formPrestation.title, {
                        label: 'Titre :',
                        'attr': { 'class': 'addPrestationField form-control' }
                    }) }}
                </div>
                {#  c'est un exemple de noc champ quo pourra adapter #}
                <div id="prestation-fields-list" data-prototype="{{ form_row(formPrestation.imgPrestations.vars.prototype)|escape }}" data-index="{{ formPrestation.imgPrestations|length }}">

                    {% for imgPrestationField in formPrestation.imgPrestations %}
                        <div class="m-3">
                            {{ form_row(imgPrestationField.img, {
                                label: 'Image :',
                                'attr': {'class': 'addImageField form-control',}
                            }) }}
                        </div>
                        <div class="m-3">
                            {{ form_row(imgPrestationField.description, {
                                label: 'Description :',
                                'attr': {'class': 'addDescriptionField form-control',}
                            }) }}
                        </div>
                    {% endfor %}
                </div>
            {{ form_end(formPrestation) }}
        </span>
    </main>
</body>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            //sélectionne la classe " .class="add-another-collection-widget" (ligne 46)
            function addPrestation() {
                    //l'attribut par exemple 'data-list-selector se trouve dans le html,
                var list = $('#prestation-fields-list'); // this on récupère l'attribut qu'il y a dans notre data list selector, cad le contenu de celui ci
                    // donc ici on va sélectionner notre attribut data list selector cas le ID qui est déterminé par un DIEZE # soit email-fields-list qui correspond à la ligne 18
                // Get the data-prototype explained earlier
                var prototype = list.data('prototype');
                // get the new index
                var index = list.data('index');
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                // increase the index with one for the next item
                list.data('index', index + 1);
                // Display the form in the page before the "new" link
                list.after(newForm);
            }
            addPrestation();
            addPrestation();
        });
    </script>
{% endblock %}
