{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
<h1 class="m-5">Aide rénovation</h1>
<section class="container">
    <div class=" col-12 align-items-center text-center">
        <h2 class="m-5">TOUTES LES AIDES FINANCIÈRES POUR VOTRE PROJET DE RÉNOVATION</h2>
        <img src="{{ asset('asset/img/img_aideRenov/aide_financieres.jpg') }}" alt="financial help">
        <p class="m-3">Vous habitez sur l’aire Métropolitaine Bordelaise ? Vous souhaitez connaître les aides
            financières et les subventions pour réaliser vos travaux de rénovation ?
            Facirénov vous aide à optimiser le financement de votre projet de rénovation énergétique. Toutes les aides
            citées ci-dessous sont accessibles sous réserve de réalisation des travaux
            par un professionnel qualifié RGE. Tous les professionnels mandatés par Facirénov disposent de la
            qualification RGE.</p>
        <p>Certaines aides ne sont pas soumises à des plafonds de ressources alors que d’autres aides le sont.</p>
    </div>

    <div class=" col-12 align-items-center text-center">
        <h2 class="m-5">CLASSIFICATION DES TYPES DE MÉNAGES :</h2>
        <p>Pour connaître l’ensemble des aides auxquelles vous avez droit, établissez dans quelle catégorie votre ménage
            se situe.</p>
        <img src="{{ asset('asset/img/img_aideRenov/tableau-aide-financiere-maprimerenov.jpg') }}" alt="financial tabs">
    </div>

    <div class="container">
        <h2 class="m-5">NOUVEAU SERVICE PUBLIC FRANCE RÉNOV</h2>
        <div class="col-12 d-flex align-items-center">
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/france-renov-twitter.png') }}" alt="france renov">
            <div>
                <p>Début janvier 2022, un nouveau service public a vu le jour : France Rénov.
                    Porté par l‘État avec les collectivités locales et piloté par l’Agence National de l’Habitat (Anah),
                    ce service est dédié à la rénovation énergétique des logements. Ce dispositif permet l’information
                    et l’accompagnement des ménages dans leurs
                    projets de rénovation énergétique. Le but étant d’accélérer la rénovation du parc de logements
                    privés. </p>
                <p>L’offre portée par Facirénov est complémentaire et répond aux exigences du service public France
                    Rénov.</p>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h2 class="m-5">LES AIDES FINANCIÈRES ET SUBVENTIONS NATIONALES</h2>
    <h2 class="m-5">(AVEC CONDITIONS DE RESSOURCES)</h2>
    <div class="col-12">
        <h3>L’AIDE MA PRIME RÉNOV’</h3>
        <div class="d-flex align-items-center">
            <div>
                <p>Depuis le 5 octobre 2020, MaPrimeRénov s’adresse aux propriétaires occupants et bailleurs. L’aide est
                    décernée selon le niveau de ressource du ménage. Le logement concerné par les travaux (maison ou
                    appartement) doit être construit depuis au moins 15 ans et être votre résidence principale.</p>
                <p>Pour les mêmes travaux, MaPrimeRénov’ est cumulable avec les aides d’Action Logement. Elle est aussi
                    cumulable avec les aides des collectivités locales et les Crédits d’économie d’énergie (CEE).</p>
                <p>L’aide MaPrimeRénov’ peut financer jusqu’à 90% du montant de vos travaux (CF: Voir tableau des
                    aides).</p>
            </div>
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/logo-maprimerenov.png') }}" alt="logo ma prime renov">
        </div>
    </div>

    <div class="col-12">
        <h3>L'AIDE MAPRIMERÉNOV' SÉRÉNITÉ</h3>
        <div class="d-flex align-items-center">
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/primeRenov.png') }}" alt="logo prime renov">
            <div class="m-5">
                <p>Cette nouvelle aide est née de la fusion entre l’ancien dispositif “Habiter Mieux Sérénité” et de
                    MaPrimeRénov.</p>
                <p>Essentiellement, MaPrimeRénov’ Sérénité est un conseil et une aide financière pour assister les
                    ménages aux ressources « modestes » et « très modestes » dans le projet de rénovation énergétique
                    globale de leur logement. Cette aide est destinée aux propriétaires occupants ou bailleurs et aussi
                    aux syndicats de copropriétaires.</p>
                <p>Enfin, pour être éligible à MaPrimeRénov’ Sérénité le logement doit avoir plus de 15 ans et les
                    travaux doivent impérativement être réalisés par une entreprise qualifiée RGE.</p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <h2 class="m-5">LES AIDES FINANCIÈRES ET SUBVENTIONS NATIONALES</h2>
        <h2 class="m-5">(SANS CONDITIONS DE RESSOURCES)</h2>
        <div class="d-flex">
            <div class="m-3">
                <h3 class="m-3">AIDE DES FOURNISSEURS D’ÉNERGIE (DISPOSITIF DES CERTIFICATS D’ÉCONOMIES D’ÉNERGIE)</h3>
                <p>Certaines entreprises vous proposent des primes, des prêts bonifiés ou des diagnostics si vous
                    réalisez des travaux d’économies d’énergie.</p>
                <p>Les aides proposées sont plus importantes pour les ménages en situation de précarité énergétique et
                    de grande précarité énergétique.</p>
                <p>Les aides des entreprises qui vendent de l’énergie (électricité, gaz ou GPL, chaleur, froid, fioul
                    domestique et carburants pour automobiles) interviennent dans le cadre du dispositif des certificats
                    d’économies d’énergie.</p>
                <p>Ce dispositif oblige ces fournisseurs d’énergie à soutenir des actions efficaces d’économies
                    d’énergie auprès des consommateurs. Cela y compris auprès des ménages en situation de précarité
                    énergétique. Des dispositions particulières sont prévues pour les ménages en situation de précarité
                    énergétique. S’ils ne respectent pas leurs obligations, l’État impose aux fournisseurs d’énergie de
                    fortes pénalités financières.</p>
                <p>Les travaux doivent permettre d’améliorer la performance énergétique de votre logement. Ils doivent
                    aussi respecter des exigences de performances minimales.</p>
                <p>Facirénov peut vous proposer une réduction sur le prix de vos travaux de rénovation énergétique en
                    contrepartie du rachat de vos Certificats d’Economie d’Energie.</p>
            </div>
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/cee-certificat-economie-energie.png') }}" alt="certificat économie énergie">
        </div>
    </div>

    <div class="col-12">
        <h2 class="m-5">LES AIDES DE LA RÉGION NOUVELLE-AQUITAINE</h2>
        <h2>(SANS CONDITIONS DE RESSOURCES) :</h2>
        <h3 class="m-5">L'AIDE À L'AUDIT ET À L'ACCOMPAGNEMENT</h3>
        <div class="d-flex align-items-start">
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/logo-nouvelle-aquitaine.png') }}" alt="logo nouvelle aquitaine">
            <div class="m-3">
                <p>La région souhaite aider les ménages de Nouvelle-Aquitaine à mener à bien la rénovation énergétique
                    de leur habitat privé dans une approche globale, performante et bas carbone.</p>
                <p>Pour être éligible à cette aide, le logement doit avoir plus de 2 ans et être votre résidence
                    principale. Tous les particuliers propriétaires sont éligibles sans conditions de ressources (à
                    l’exception des nus-propriétaires et des personnes morales).
                    Enfin, l’audit doit impérativement être réalisé par une entreprise qualifiée RGE.</p>

                <h2 class="m-5">L'AIDE À LA RÉALISATION DE TRAVAUX</h2>
                <p>Les critères d’éligibilités sont identiques à ceux de l’aide à l’audit et à l’accompagnement.</p>
                <p>Ces aides sont réservées aux projets compatibles avec l’atteinte du niveau BBC en une ou plusieurs
                    étapes et répondant aux exigences suivantes : </p>

                <ul class="d-flex flex-column">
                    <li>* Réalisation d’au moins 2 des 4 catégories de travaux entre chauffage, production d’eau chaude
                        sanitaire, ventilation et isolation de l’enveloppe du bâtiment. </li>
                    <li>* Consommation conventionnelle annuelle en énergie primaire après travaux, rapportée à la
                        surface habitable, inférieure à 331 kWh/m² (équivalent étiquette E maximum).</li>
                    <li>* Gain énergétique de consommation annuelle supérieur à 35% et visant les 40%.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12">
        <h2 class="m-5">LES AUTRES DISPOSITIFS FINANCIERS</h2>
        <h2>(SANS CONDITIONS DE RESSOURCES) :</h2>
        <div class="d-flex align-items-center">
            <div>
                <h3 class="m-5">LE PRÊT FACIRÉNOV</h3>
                <p>Vous ne pouvez pas financer vos travaux par l’éco-PTZ ou vous avez besoin d’un prêt complémentaire ?
                    Vous pouvez solliciter un prêt travaux auprès de Facirénov si les économies d’énergie générées sont
                    au moins de 25%. Après étude de votre dossier, Facirénov peut vous proposer un prêt.</p>
                <p>Les économies réalisées sur vos factures d’énergie seront équivalentes aux mensualités de
                    remboursement. L’objectif étant que l’effort mensuel soit le plus indolore possible.</p>
                <p>La durée maximale du prêt est de 20 ans. Le prêt bénéficie d’un taux d’intérêt préférentiel, compte
                    tenu du soutien de la Banque Européenne d’Investissement.</p>
                <p>En fonction de votre situation, une assurance et une caution peuvent être demandées.</p>
            </div>
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/logo-facirenov.jpg') }}" alt="logo faci-renov">
        </div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <img style="width: 500px"  src="{{ asset('asset/img/img_aideRenov/eco-pret-a-taux-0.jpg') }}" alt="logo eco prêt taux 0">
        <div>
            <h3 class="m-5">L'ÉCO-PRÊT À TAUX ZÉRO</h3>
            <p>L’Eco-PTZ permet de financer des travaux de rénovation énergétique sans faire d’avance de trésorerie et
                sans payer d’intérêts. Il s’agit d’un prêt à taux d’intérêt nul d’un montant maximal de 30 000 €. Ce
                prêt agit sur une durée allant jusqu’à 15 ans (ou 20 ans dans le cadre d’une performance énergétique
                globale) et en vigueur jusqu’au 31 décembre 2021.</p>
            <p>Il est accessible aux propriétaires occupants, bailleurs, copropriétaire, syndicats de copropriété et aux
                SCI non soumises à l’impôt sur les sociétés.</p>
            <p>Le logement concerné doit avoir plus de 2 ans et doit être déclaré comme une résidence principale (en
                occupation ou en location).</p>
        </div>
    </div>

    <div class="col-12 d-flex align-items-center">
        <div>
            <h3 class="m-5">LA TVA À TAUX RÉDUIT</h3>
            <p>Dans le cadre de la TVA à taux réduit (TVA à 10% pour des travaux de rénovation et d’entretien dans des
                logements achevés depuis plus de 2 ans), l’Etat a décidé de favoriser les travaux d’économie d’énergie
                et propose une TVA à 5,5% pour les logements de plus de 2 ans.</p>
        </div>
        <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/tva55.png') }}" alt="logo aide renov">
    </div>

    <div class="col-12 d-flex align-items-center">
        <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/logo-pret-avance-renov-1-300x300.png') }}" alt="logo prêt avance renov">
        <div>
            <h3 class="m-5">LE PRÊT AVANCE RÉNOVATION</h3>
            <p>Le prêt avance rénovation permet aux personnes exclues des solutions de financement classiques en raison
                de leur revenu, de leur âge ou encore de leur situation professionnelle, de rénover leur logement sans
                en avancer les frais. </p>
            <p>Ce dispositif permet aux bénéficiaires de ne supporter le reste à charge de le rénovation énergétique
                qu’au moment de la succession ou de la revente du bien immobilier. Il s’adresse aux ménages modestes et
                propriétaires de leur résidence principale. </p>
            <p>A ce jour, deux banques proposent ce service d’aide : La Banque Postale et le Crédit Mutuel.</p>
            <p>Découvrez l’article dédié au Prêt Avance Rénovation.</p>
        </div>
    </div>

    <div class="col-12">
        <h2 class="m-5">LES AIDES ET SUBVENTIONS LOCALES </h2>
        <h2 class="m-5">DES 28 COMMUNES DE BORDEAUX MÉTROPOLE :</h2>
        <div class="d-flex">
            <div>
                <h3 class="m-5">MA RÉNOV : L’AIDE DE BORDEAUX MÉTROPOLE</h3>
                <p>Parmi les différents types d’aides financières mobilisables lors d’un projet de rénovation
                    énergétique (aide nationale comme locale), la Métropole de Bordeaux a mis en place un dispositif
                    permettant de délivrer des aides importantes pour rénover son logement.</p>
                <p>Elle est accessible aux propriétaires occupants ou bailleurs (logement principal seulement) qui ont
                    un logement individuel construit depuis plus de 15 ans sur le territoire de la Métropole. Il faut
                    aussi que ces derniers détiennent un revenu fiscal de référence du foyer inférieur à 80 000 €
                    (dernier avis d’imposition).</p>
            </div>
            <img style="width: 500px" src="{{ asset('asset/img/img_aideRenov/logo-ma-renov-1.png') }}" alt="logo ma renov">
        </div>
        <div>
            <p>Des critères techniques sont aussi nécessaires. Comme par exemple l’obligation de travailler avec des
                professionnels ayant la mention RGE (Reconnu Garant de l’Environnement). Mais aussi le respect des
                exigences techniques du crédit d’impôt pour la transition énergétique.</p>
            <p>Les travaux concernés doivent être les suivants : isolation des murs (par l’intérieur ou par
                l’extérieur), isolation des combles (perdus ou rampants), isolation des planchers bas, chaudière gaz ou
                bois (granulés, plaquettes …), pompes à chaleur (hors air/air), ventilation simple ou double flux,
                chauffe-eau solaire…</p>
            <p>L’ aide attribuée est calculée en fonction d’un bouquet d’un seul ou de plusieurs postes de travaux sur
                l’enveloppe de l’habitat.</p>
            <p>Si le logement atteint le niveau basse consommation (BBC) après travaux, l’aide peut ainsi financer
                jusqu’à 6 000 €. L’utilisation d’isolants bio-sourcés est aussi valorisée.</p>
        </div>
    </div>
</section>

<div class="container">
    <h2 class="m-5">TABLEAU RÉCAPITULATIF DES AIDES FINANCIÈRES</h2>
    <h2 class="m-5">ET DISPOSITIFS POUR LA RÉNOVATION ÉNERGÉTIQUE :</h2>
    <table class="table m-5">
        <thead>
            <tr class="text-center">
                <th scope="col mt-1"></th>
                <th scope="col">MÉNAGES AIDÉS</th>
                <th scope="col">MONTANT / MODALITÉ</th>
                <th scope="col">PRÉFINANCEMENT FACIRÉNOV</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th scope="row">Ma Prime Rénov'</th>
                <td>Tous ménages</td>
                <td>Jusqu'à 90% des travaux éligibles</td>
                <td>Oui</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Ma Prime Rénov' Sérénité '</th>
                <td>Très modestes et modestes</td>
                <td>Jusqu'à 50% du montant des travaux HT dans la limite de 15 000 € d'aides</td>
                <td>Non</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Aides de la région Nouvelle-Aquitaine</th>
                <td>Tous ménages</td>
                <td>Variable en fonction des travaux</td>
                <td>Oui</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Aides "Ma Rénov" Bordeaux Métropole</th>
                <td>Tous ménages ayant un revenu < 80 000€ /an</td>
                <td>Jusqu'à 6 000 € pour rénovation BBC</td>
                <td>Oui</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Eco-prêt à taux zéro</th>
                <td>Tous ménages</td>
                <td>Emprunt jusqu'à 50 000 € pour les rénovations globales</td>
                <td>Non éligible</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Dispositifs certificats d'économie d'énergie (CEE)</th>
                <td>Tous ménages</td>
                <td>Variable en fonction des travaux éligibles</td>
                <td>oui</td>
            </tr>
            <tr class="text-center">
                <th scope="row">TVA à taux réduit</th>
                <td>Tous ménages</td>
                <td>TVA à 5,5% pour les travaux d'économie d'énergie</td>
                <td>Non éligible</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Prêt Facirénov</th>
                <td>Tous ménages</td>
                <td>Emprunt de 70 000 € maximum</td>
                <td>Non éligible</td>
            </tr>
            <tr class="text-center">
                <th scope="row">Prêt Avance Rénovation</th>
                <td>Très modestes et modestes</td>
                <td>Variable en fonction du profil des propriétaires</td>
                <td>Non</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
