{% extends 'base.html.twig' %}
{% block title %}Voir une prestation{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/prestation.css') }}">

<body>
<section>
    <article class="presentation">
        <div class="rubriquePrestation">Voici notre fiche technique d'isolation :</div>
    </article>

    <article class="isolation">
        <h1>{{ presta.title }}</h1>
        <div class="Prestation">
            <img src="{{ asset('asset/img/img_operation/'~presta.img.title) }}" alt="image d'opérations énergétiques">
            <p>{{ presta.description }}</p>
            <a href="{{ path('choicePartProf', {'titlePresta': presta.title}) }}">Contactez-nous</a>
        </div>
    </article>
</section>
</body>
{% endblock %}