{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
<link rel="stylesheet" href="{{ asset('asset/css/header.css') }}">
<link rel="stylesheet" href="{{ asset('asset/css/footer.css') }}">
<link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">
<link rel="stylesheet" href="{{ asset('asset/css/prestations.css') }}">

<body>
    <p>Page de Résumé de votre prestation</p>
</body>

{% endblock %}