{% extends 'base.html.twig' %}
{% block title %}Mettre à jour une prestation{% endblock %}
{% block body %}

    <body>

    <h1>Modifier une prestation</h1>

    <span class="formulaireUpdatePrestation">
        {{ form_start(editFormPresta) }}
             <div class="m-3">
            {{ form_row(editFormPresta.title,{
                label: 'Titre :',
                'attr':{'class': 'updatePrestationField form-control'}
            }) }}
            </div>

            <div class="m-3">
            {{ form_row(editFormPresta.imgPrestations[0].img,{
                label: 'Image :',
                'attr':{'class': 'updateImageField form-control'}
            }) }}
            </div>

            <div class="m-3">
            {{ form_row(editFormPresta.imgPrestations[0].description,{
                label: 'Description :',
                'attr':{'class': 'updateDescriptionField form-control'}
            }) }}
            </div>

        <div class="m-3">
            {{ form_row(editFormPresta.imgPrestations[1].img,{
                label: 'Image :',
                'attr':{'class': 'updateImageField form-control'}
            }) }}
            </div>

            <div class="m-3">
            {{ form_row(editFormPresta.imgPrestations[1].description,{
                label: 'Description :',
                'attr':{'class': 'updateDescriptionField form-control'}
            }) }}
            </div>
        {{ form_end(editFormPresta) }}
    </span>

    </body>
{% endblock %}