{% extends 'base.html.twig' %}
{% block title %}Mettre à jour votre profil{% endblock %}
{% block body %}

    <body>

    <h1>Modifier votre profil</h1>

    <span class="fieldUpdateOneProfile">
        {{ form_start(editFormUser) }}
            {{ form_row(editFormUser.lastname,{
            label: 'Nom :',
            'attr':{'class': 'oneProfilesNameField form-control'}
            }) }}
            {{ form_row(editFormUser.email,{
            label: 'Courriel :',
            'attr':{'class': 'OneProfilesEmailField form-control'}
            }) }}
            {{ form_row(editFormUser.plainPassword,{
            label: 'Mot de passe :',
            'attr':{'class': 'OneProfilesPasswordField form-control'}
            }) }}
            {{ form_row(editFormUser.agreeTerms) }}
            <input type="submit" value="Envoyer">
        {{ form_end(editFormUser) }}
    </span>

    </body>
{% endblock %}