{% extends 'base.html.twig' %}
{% block title %}Mettre à jour votre profil{% endblock %}
{% block body %}

    <body>

    <h1>Modifier le profil de cet utilisateur</h1>
    {#<div class="formulaireUpdateAllProfiles">#}
        <span class="fieldUpdateAllProfiles">
            {{ form_start(editFormUser) }}
                {{ form_row(editFormUser.lastname,{
                    label: 'Nom :',
                    'attr':{'class': 'allProfilesNameField form-control'}
                }) }}
                {{ form_row(editFormUser.email,{
                    label: 'Courriel :',
                    'attr':{'class': 'allProfilesEmailField form-control'}
                }) }}
                {{ form_row(editFormUser.plainPassword,{
                    label: 'Mot de passe :',
                    'attr':{'class': 'allProfilesPasswordField form-control'}
                }) }}
                <input type="submit" value="Envoyer">
            {{ form_end(editFormUser) }}
        </span>
    {#</div>#}
    </body>
{% endblock %}