{% extends 'base.html.twig' %}

{% block title %}Mettre à jour votre profil{% endblock %}

{% block body %}
<body>
    <main>
        <h1 class="m-5">Modifier le profil de cet utilisateur</h1>
        <span class="fieldUpdateAllProfiles m-15">
            {{ form_start(editFormUser) }}
                <div class="m-3">
                    {{ form_row(editFormUser.lastname, {
                        label: 'Nom :',
                        'attr': { 'class': 'allProfilesNameField form-control' }
                    }) }}
                </div>
                <div class="m-3">
                    {{ form_row(editFormUser.email, {
                        label: 'Courriel :',
                        'attr': { 'class': 'allProfilesEmailField form-control' }
                    }) }}
                </div>
                <div class="m-3">
                    {{ form_row(editFormUser.plainPassword, {
                        label: 'Mot de passe :',
                        'attr': { 'class': 'allProfilesPasswordField form-control' }
                    }) }}
                </div>
                <input type="submit" value="Envoyer">
            {{ form_end(editFormUser) }}
        </span>
    </main>
</body>
{% endblock %}
