{% extends 'base.html.twig' %}
{% block title %}Formulaire de contact{% endblock %}
{% block body %}

    <h1 class="titleContact">Une question à nous poser ?</h1>

    <div class="contact">
        <span class="formulaireContact">
        {{ form_start(formContactRequest) }}
            <div class="m-3">
            {{ form_row(formContactRequest.firstname,{
                label: 'Prénom :',
                'attr':{'class': 'contactFirstnameField form-control'}
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formContactRequest.lastname,{
                label: 'Nom :',
                'attr':{'class': 'contactLastnameField form-control'}
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formContactRequest.mail,{
                label: 'Courriel :',
                'attr':{'class': 'contactMailField form-control'}
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formContactRequest.message,{
                label: 'Message :',
                'attr':{'class': 'contactMessageField form-control'}
            }) }}
            </div>
            <div class="m-3">
            {{ form_row(formContactRequest.phone,{
                label: 'Téléphone :',
                'attr':{'class': 'contactPhoneField form-control'}
            }) }}
            </div>
        {{ form_end(formContactRequest) }}
        </span>
        <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.341061971679!2d-0.6691586845009516!3d44.83498717909857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d9ee6f8efa27%3A0xfbc5b687a9b5824!2sAv.%20Henri%20Vigneau%2C%2033700%20M%C3%A9rignac!5e0!3m2!1sfr!2sfr!4v1650808970796!5m2!1sfr!2sfr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

{% endblock %}
