{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">

    <h1>Formulaire d'enregistrement de l'opération énergétique et prise de RDV pour {{ status }}</h1>

    {{ form(formAppointment) }}

{% endblock %}
