{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">
<body>
<h1>FINTECH ENERGY
    MAÎTRISONS ENSEMBLE L'ÉNERGIE</h1>
<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="{{ asset('asset/img/img_fond/paysage_pomme.jpg') }}" alt="">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{{ asset('asset/img/img_article/paysage_pomme.jpg') }}" alt="">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{{ asset('asset/img/img_article/paysage_pomme.jpg') }}" alt="">

        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

    <section class="presentation">
        {#  <span><img src="{{ asset('asset/img/img_article/1maison-connectee.jpg') }}" alt=""></span>#}
        <div class="rubriquePrime">
            <h2>Prime et Subvention (lien gouvernemental)</h2>
            <p>What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </section>

    <section class="prestation">
        <h2>Notre métier, nos prestations:</h2>
        <div class="prestaIso">
            {% for prestation in prestations %}
                <article>
                    <h3>{{ prestation.title }}</h3>
                    <span><a href="{{ path('prestation', {'title': prestation.title}) }}">
                            <img src="{{ asset('asset/img/img_article/vertmaison.png') }}" alt="icons"></a></span>
                </article>
            {% endfor %}
        </div>
    </section>

        <div class="buttonPrestations">
            <button><a href="{{ path('prestations') }}">Voir toutes nos prestations ></a></button>
        </div>

        <div class="bandeImage">
            {#  <img src="../public/asset/img/img_fond/paysage_pomme1.jpg" alt="image gestion maison connectée">#}
        </div>


    <section class="fourArticles">
        <div class="presentationSection">
            <h2>LES SOLUTIONS</h2>
            <p>The standard Lorem Ipsum passage, used since the 1500s
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <article class="firstArticle">
            <div>
                <span><img class="imageHome" src="../public/asset/img/img_article/accompagnement-de-projet.png" alt=""></span>
            </div>
            <div class="rubriquePara">
                <h3>TITRE DE MA DIV</h3>
                <div class="para1">
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                </div>
            </div>
        </article>

        <article class="secondArticle">
            <div class="rubriquePara">
                <h3>TITRE DE MA DIV</h3>
                <div class="para1">
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                </div>
            </div>
                <div>
                <span><img class="imageHome" src="../public/asset/img/img_article/2-systeme-de-stockage.png" alt=""></span>
                </div>
        </article>

        <article class="thirdArticle">
            <div>
                <span><img class="imageHome" src="../public/asset/img/img_article/3-monitoring-gestion.png" alt=""></span>
            </div>
            <div class="rubriquePara">
                <h3>TITRE DE MA DIV</h3>
                <div class="para1">
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                </div>
            </div>
        </article>

        <article class="fourthArticle">
            <div class="rubriquePara">
                <h3>TITRE DE MA DIV</h3>
                <div class="para1">
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                    <p>Lorem ipsum dolor sit amet. Ab harum distinctio eos nemo pariatur sit perspiciatis aliquam ea sequi corporis ut accusamus animi aut praesentium necessitatibus?
                        Non atque quia sed repellendus inventore hic repellat perspiciatis est voluptatem nihil aut beatae quis vel quae provident.</p>
                </div>
            </div>
            <div>
                <span><img class="imageHome" src="../public/asset/img/img_article/4-offres-dhebergement-de-data.png" alt=""></span>
            </div>
        </article>
    </section>
<script src="{{ asset("asset/js/slider.js") }}"></script>
</body>
{% endblock %}
