{% extends ('base.html.twig') %}
{% block title %} Voir un profil {% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('asset/css/profilesAdminHandler.css') }}">

Nom: {{ user.lastname }}
Adrese email: {{ user.email }}

    <a href="{{ path('updateProfil', {'id': app.user.id}) }}">Modifier votre profil</a>

    <button  class="delete">Supprimer profil</button>
    <div class="modal">
        <a href="{{ path('remove_user_id', {'id':user.id } ) }}" class="deleteUser">Supprimer profil</a>
        <button class="cancel">Annuler</button>
    </div>

    <script src="{{ asset("asset/js/modalAdminDeleteUser.js") }}"></script>
{% endblock %}