{% block body %}
<body>
    <div class="firstnavFooter">
        <span class="logoFooter"><a href="{{ path('home') }}"><img src="{{ asset('asset/img/img_article/logomaisonrenov1.png') }}" alt="logo maison verte"></a></span>
        <p class="slogan">Économisez de l'énergie, votre argent...et du temps</p>
        <p class="slogan">Vos économies ont de l'énergie !</p>
        <ul class="logoRs">
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/facebooklogo.png') }}" alt="logo user"></a></li>
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/instagramlogo.png') }}" alt="logo user"></a></li>
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/linkedinlogo.png') }}" alt="logo user"></a></li>
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/userlogo.png') }}" alt="logo user"></a></li>
        </ul>
    </div>
    <nav class="secondnavFooter">
        <ul>
            <li><a href="{{ path('information') }}">Information</a></li>
            <li><a href="{{ path('helpRenovation') }}">Aide rénovation</a></li>
            <li><a href="{{ path('agences') }}">Agences</a></li>
            <li><a href="{{ path('mentionlegales') }}">Mention légales</a></li>
        </ul>
    </nav>
</body>
{% endblock %}