<body>
    <div class="firstnav">
        <span class="logo"><a href="{{ path('home') }}"><img src="{{ asset('asset/img/img_article/logomaisonrenov.png') }}" alt=""></a></span>
        <p class="slogan">Économisez de l'énergie, votre argent...et du temps</p>
        <p class="slogan">Vos économies ont de l'énergie !</p>
    </div>
    <nav class="secondnav">
        <ul>
            <li><a href="{{ path('information') }}">Information</a></li>
            <li><a href="{{ path('agences') }}">Agences</a></li>
            <li><a href="{{ path('serviceclient') }}">Service client</a></li>
            <li><a href="{{ path('mentionlegales') }}">Mention légales</a></li>
        </ul>
    </nav>
</body>