
<body>
    <nav class="firstnavHeader">
        <span class="logoHeader"><a href="{{ path('home') }}"><img src="{{ asset('asset/img/img_article/logomaisonrenov1.png') }}" alt="logo header"></a></span>
        <div class="burger">
            <div class="divBurger"></div>
            <div class="divBurger"></div>
            <div class="divBurger"></div>
        </div>
        <div class="modalBurger">
            <ul class="ulBurger">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('prestations') }}">Nos prestations</a></li>
                {% if app.user == true %}<li><a href="{{ path('view_profil') }}">Votre profil</a></li> {% else %}
                <li><a href="{{ path('app_register') }}">S'inscrire / Se connecter</a> {% endif %}
                <li><a href="{{ path('demandeContact') }}">Contact</a></li>
                {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('view_Profiles') }}">Gestion Profils</a></li>{% endif %}
            </ul>
        </div>

        <p class="slogan">Économisez de l'énergie, votre argent... et du temps</p>
        <p class="slogan">Vos économies ont de l'énergie !</p>
        <ul class="logoRs">
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/facebooklogo.png') }}" alt="logo user"></a></li>
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/instagramlogo.png') }}" alt="logo user"></a></li>
            <li><a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/linkedinlogo.png') }}" alt="logo user"></a></li>
            <li>{%  if app.user == true %}<a href="{{ path('app_logout') }}"><img src="{{ asset('asset/img/img_article/arrowlogo.png') }}" alt="logo user déconnexion"></a>{% else %}<a href="{{ path('app_login') }}"><img src="{{ asset('asset/img/img_article/userlogo.png') }}" alt="logo user connexion"></a>{% endif %}</li>
        </ul>
    </nav>
    <nav class="secondnavHeader">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('prestations') }}">Nos prestations</a></li>
            {% if app.user == true %}<li><a href="{{ path('view_profil') }}">Votre profil</a></li> {% else %}
            <li><a href="{{ path('app_register') }}">S'inscrire / Se connecter</a> {% endif %}
            <li><a href="{{ path('demandeContact') }}">Contact</a></li>
            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('view_Profiles') }}">Gestion Profils</a></li>{% endif %}
        </ul>
    </nav>
</body>
